<!doctype html>
<html lang="sv" ng-app="myApp">

<head>
    <title>Sortiment Filtering</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</head>

<body ng-controller="sortController">

    <section id="filters" ng-click = "invisible = !invisible">
        <h2>Filters</h2>

        <fieldset>
            Groups:
            <select ng-model="search.Varugrupp">
                <option value="">All</option>
                <option value="R?tt Vin">Red Wine</option>
                <option value="Vitt Vin">White Wine</option>
                <option value="?l">Beer</option>
                <option value="Whisky">Whisky</option>
                <option value="Alkoholfri">Alcohol Free</option>
            </select>

            <br>
            <br> Country:
            
            <br>
            <input type="checkbox" ng-model='search.Frankrike' ng-true-value="'Frankrike'" ng-false-value=""/>France
            {{Frankrike}}
            <br>
            <input type="checkbox" ng-model='search.Italien' ng-true-value="'Italien'" ng-false-value="" />Italy
            <br>
            <input type="checkbox" ng-model="search.Sverige" ng-true-value="'Sverige'" ng-false-value="" />Sweden
            <br>
            <input type="checkbox" ng-model="search.Storbritannien" ng-true-value="'Storbritannien'" ng-false-value="" />The Great Britain
            <br>
            <input type="checkbox" ng-model="search.Spanien" ng-true-value="'Spanien'" ng-false-value="" />Spain
            <br>

            <br>
            <br> Price:

            <br>
            <input type="checkbox" ng-model="search.Pris" ng-true-value="<= 95" ng-false-value="" />0-95
            <br>
            <input type="checkbox" ng-model="search.Pris" ng-true-value=">95 && <= 180" ng-false-value="" />96-180
            <br>
            <input type="checkbox" ng-model="search.Pris" ng-true-value=">180 && <= 370" ng-false-value="" />181-370
            <br>
            <input type="checkbox" ng-model="search.Pris" ng-true-value="> 370" ng-false-value="" />370 -
            <br>

            <br>
            <br> Package:

            <br>
            <input type="checkbox" ng-model="search.Forpackning" ng-true-value="Helflaska" ng-false-value="" />Whole Bottle
            <br>
            <input type="checkbox" ng-model="search.Forpackning" ng-true-value="Flaska" ng-false-value="" />Bottle
            <br>
            <input type="checkbox" ng-model="search.Forpackning" ng-true-value="Halvflaska" ng-false-value="" />Half Bottle
            <br>
        </fieldset>
    </section>

    <section id="sortiment">
        <article ng-repeat="x in sortiments | filter: search.Frankrike | filter: search.Italien| filter: search.Sverige | filter: search.Storbritannien | filter: search.Spanien " class="result">
            <ul class="result-features">
                <li>Name: {{x.Namn}}</li>
                <li>Original Country: {{x.Landet}}</li>
                <li>Group: {{x.Varugrupp}}</li>
                <li>Package: {{x.Forpackning}}</li>
                <li>Alcohol(%): {{x.Alkoholhalt}}</li>
                <li>Price: {{x.Pris}} SEK</li>
            </ul>
            
            
        </article>

        <p ng-show="(sortiments | filter: search).length ==0"> There are no results for this search</p>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>
